

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 22px;
  line-height: 2;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  animation: marquee 35s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.btn-custom {
  background-color: #f54272;
  color: #fff;

  &:hover {
    background-color: #f5428a;
    color: #fff;
  }
}

.btn-white {
  padding: 0.5rem 0.7rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #bd8a8a;

  &:hover {
    background-color: #03fcf4;
    color: #000;
    border: 1px solid #bd8a8a;
  }
}
.page-number {
   background-color: #5050b9;
   color: #fff;
    &:hover {
    background-color: #5050b9;
    color: #fff;
    }
}
.custom-table-head {
  border-bottom: 2px solid #f1e8e8 !important;
}

//Badge
.badge-warning {
  color: #212529;
  background-color: #ffc107;
}
.badge-success {
  color: #fff;
  background-color: #28a745;
}
.badge-danger {
  color: #fff;
  background-color: #dc3545 !important;
}
.badge-info {
  color: #fff;
  background-color: #17a2b8 !important;
}
.badge {
  &-dark {
    background-color: #343a40;
  }
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

/* Additional styles for accessibility */
.badge:empty {
  visibility: hidden;
}

//Alert
.alert.alert-info {
  color: rgb(97, 86, 86);
  background-color: #d3edf8;
  border-color: #b8dbe0;

  hr {
    border-top-color: #a6c9ce;
  }

  .alert-link {
    color: #0b2e46;
    font-weight: bold;
  }
}

//Checkbox
.custom-checkbox.birthday .custom-control-input:checked ~ .custom-control-label::before {
  background-color: rgb(239, 108, 0);
  border-color: rgb(239, 108, 0);
}
.custom-checkbox.leave .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0c5df5;
  border-color: #0c5df5;
}
.custom-checkbox.holiday .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0691a3;
  border-color: #0691a3;
}
.custom-checkbox.event .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #4e28a7;
  border-color: #4e28a7;
}
//Calendar
.fc-toolbar-chunk:not(:first-child) {
  .btn-group .btn:not(:disabled) {
    margin-right: 4px;
   } 
}
.fc-toolbar-chunk {
  .btn-group {
    .btn-primary {
      color: #fff;
      background-color: #2d3135;
      border-color: #2d3135;

      &:hover {
        color: #fff;
        background-color: #41464d;
        border-color: #41464d;
      }

      &:focus, &:active, &.active {
        color: #fff;
        background-color: #41464d;
        border-color: #41464d;
      }
        }
  }
}

.fc-today-button {
      color: #fff;
      background-color: #2d3135 !important;
      border-color: #2d3135 !important;
}

//Switch
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0;
}
.slider.round:before {
  border-radius: 50%;
}
input:checked + .slider:before {
  transform: translateX(20px);
}
.slider.round:before {
  border-radius: 50%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .05s;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
input:checked + .slider {
  background-color: #2196F3;
}

.slider.round {
  border-radius: 20px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .05s;
}





