@import "../scss/config/saas/app.scss";
@import "../scss/config/saas/custom.scss"; 
@import 'react-tooltip/dist/react-tooltip.css';
@import 'select2/dist/css/select2.min.css';
@import 'select2/dist/css/select2.css';
@import 'datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import url('~remixicon/fonts/remixicon.css');



body {
  * {
    outline: none;
  }
}


.page-content-wrapper {
  flex: 1;
  transition: all 0.3s ease-in-out;
  margin-left: 0;
  width: 100%;
}

@media (min-width: 768px) {

  .wrapper.toggled .page-content-wrapper {
    margin-left: 225px;
    width: calc(100% - 225px);
  }
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ml-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ml-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.btn-link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

html, body, input, button, option, select, textarea, h1, h2, h3, h4, h5, h6, * {
    font-family: "Roboto","Microsoft YaHei",serif;
}
*, ::after, ::before {
    box-sizing: border-box;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

div {
    display: block;
}
body {
    background-color: #fafafa;
    font-size: 14px;
}

.container-wrapper {
  padding-bottom: 3rem;
}
.container-wrapper {
  min-height: 100vh;
}



//Layout
.app_container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin-top: 52px;
  margin-bottom: 1rem;
  display: flex;
}

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0,0,0,0.1);
}

*, :hover, :focus {
  outline: none!important;
  box-shadow: none!important;
}

//fcEvent
.fc-event, .fc-event:hover {
  color: #fff;
  text-decoration: none;
}
.fc-event, .fc-event-dot {
  background-color: #3788d8;
}

.fc-event {
  position: relative;
  display: block;
  font-size: .85em;
  line-height: 1.4;
  border-radius: 3px;
  border: 1px solid #3788d8;
}

//scrolling text
.marquee {
line-height: 25px;
width: 95%;
color: black;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

//table
table {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}














