.navbar-light {
    background-color: #f7f7f7!important;
    border-bottom: 1px solid #eee;
    margin-bottom: 52px !important;
    max-width: 100%;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    border: 0;
    outline: none;

    &:focus {
        outline: none;
        border: none;
    }
}

.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
}

